/*Mobile-First-Ansatz*/
canvas {
	margin: 1%;
	width:98%;
}

/*Tablet Portrait*/
@media screen and (min-width:35.625em) {
	
	}
	
/*Tablet Landscape*/
@media screen and (min-width:48em) {
	canvas {
		width:800px;
		height:600px;
		
	}
	
/* Desktop*/
@media screen and (min-width: 64em) {
		
}